/**
* @name Midnight
* @author Lopus312#7114
* @description Better night theme for discord, color palette inspired by Nocturnal theme (discord.gg/PZdnCVD)
* @version 1.0.0
*/

/* icons on muted channels */
.modeMuted-2T4MDZ .icon-2W8DHg{
	color: var(--muted-channel-icon);
}
/* embed */
.embedFull-1HGV2S{
	background: var(--background-secondary-alt);
} 
/* Friend list */
.theme-dark .container-2cd8Mz{
	background: var(--background-primary);
}
.modeSelected-3DmyhH .name-28HaxV {
	color: var(--channelName-active);
}
/* side pill */
.item-2LIpTv{
	background-color: var(--mainColor);
}
/*reaction div*/
.reaction-2A2y9y{
	background: var(--background-secondary-alt);
}
/* top left image */
.childWrapper-1j_1ub{
	background-image: url("https://i.imgur.com/B5NxIWy.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70px 53px;
	background-color: var(--midnight-blue);
}
/* Sticker upload*/
.previewDark-3Xp3UB{
	background: var(--background-tertiary);
}

.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo{
	background-color: var(--interactive-custom-normal);
}
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover{
	background-color: var(--interactive-custom-hover);
}
/* top channel buttons like pin, member list, threads etc*/
.clickable-ZD7xvu .icon-2xnN2Y{
	color: var(--interactive-custom-normal);
}
.clickable-ZD7xvu:hover .icon-2xnN2Y{
	color: var(--interactive-custom-hover);
}
.selected-29KTGM .icon-2xnN2Y{
	color: var(--interactive-custom-active);
}
/* mute, deafen, settings buttons*/
.button-12Fmur{
	color:var(--interactive-custom-normal);
}
/* background of signal strenght when connected to voice, by default it is --text-muted*/
.ping-2IpLcU{
	color:#72767d;
}
/* removing original discord svg on top left*/
svg.homeIcon-r0w4ny path{
	d:path("");
}
/* placeholder text in input field to text channel */
.placeholder-1_mJY1{
	color: #8a8a8a;
}
/* Nitro buy screen (for some reason there is hardcoded color)*/
.theme-dark .root-g14mjS{
	background-color: var(--background-primary);
}
.theme-dark .footer-31IekZ{
	background-color: var(--background-secondary);
}
/* boost tiers in server settings */
.theme-dark .tierHeader-3q9jIw{
	background-color: var(--background-secondary-alt);
}
.theme-dark .tierBody-1d3UiS{
	background-color: var(--background-secondary);
}
/* audit log */
.theme-dark .headerDefault-1e6yjj, .theme-dark .headerClickable-zGQJz3{
	background-color: var(--background-secondary-alt);
}
/* Voice channel "no one else is here yet" message background and button color*/
.tile-2TcwiO{
	background-color: rgb(16,20,26);
}
.button-3Vyz67{
	background-color: rgb(34,117,201);
}
.button-3Vyz67:hover{
	background-color: rgb(93,160,227);
}

.input-3r5zZY{
	background-color: var(--background-tertiary);
}

/*
	Stream preview
*/
.theme-dark .watchButton-2YRKxv{
	color: var(--mainColor);
	border-color: var(--mainColor);
}
.theme-dark .previewContainer-35LFgt{
	background-color: var(--background-primary);
}
.theme-dark .streamPreview-I7itZ6{
	background-color: var(--background-primary);
}

/* Date dividers in message list */
.divider-2rZFJK{
	background-color: var(--midnight-blue);
}

/*  
	User profile 
*/
 
/* user popout */
.userPopout-2j1gM4{
	margin:10px;
}
.userPopout-2j1gM4:after{
	position: absolute;
	border-radius:8px 8px 8px 8px;
	content: "";
	z-index: -1;
	right:8px;
	width: 95%;	
	height: 100%;
	background-image: linear-gradient(
		var(--rotate)
		, #5d5dff,  #4e00c2, #191970, #4e00c2,  #5d5dff);
		opacity: 1;
	transition: opacity .5s;
	animation: spin 15s linear infinite;
}

/* banner */
.banner-1YaD3N{
	border-radius:8px 8px 0px 0px;
}
/* Top part*/
.topSection-13QKHs{
	border-radius:8px 8px 0px 0px;
	margin:var(--userProfileBorder) var(--userProfileBorder) 0px var(--userProfileBorder);
}
/* Bottom part*/
.noTabBar-2Q-iE_, .body-1Ukv50{
	border-radius:0px 0px 8px 8px;
	margin:0px var(--userProfileBorder) var(--userProfileBorder) var(--userProfileBorder);
}

/* Border animation for user profile (from:https://codepen.io/gayane-gasparyan/pen/jOmaBQK)*/
.root-8LYsGj:after{
	position: absolute;
	content: "";
	z-index: -1;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(
		var(--rotate)
		, #5d5dff,  #4e00c2, #191970, #4e00c2,  #5d5dff);
		opacity: 1;
	transition: opacity .5s;
	animation: spin 15s linear infinite;
}

/* Selected channel animation */
.modeSelected-3DmyhH .content-1gYQeQ:after{
	content: "";
	position: absolute;
	top: 90%;
    left: 25px;
	width:80%;
	height:2.5px;
    z-index: -1;
    filter: blur(1px);
    background: linear-gradient(
		to left,
		#5d5dff,  #4e00c2, #191970, #4e00c2,  #5d5dff
    );
    background-size: 200% 200%;
    animation: animateGlow 10s linear infinite;
}

/* Create a server button (show light mode style even if dark mode is enabled for some reason) */
.theme-light .lookFilled-yCfaCM.colorGrey-2iAG-B{
	background-color: var(--interactive-custom-normal);
}.theme-light .lookFilled-yCfaCM.colorGrey-2iAG-B:hover{
	background-color: var(--interactive-custom-hover);
}

/* Selected channel animation */
@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.theme-dark .buttonContainer-28osRq{
	background-color: var(--background-secondary);
}

.theme-dark.navRow-dG-XX8{
	background-color: var(--background-secondary);
}

.theme-dark .perksModal-CLcR1c{
	background-color: var(--background-primary);
}
.theme-dark .tierBody-3ju-rc{
	background-color: var(--background-secondary);
}
.theme-dark .perk-19D_HN{
	background-color: var(--background-secondary);
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/* Members categories */
.membersGroup-2eiWxl{
	color:#2249c9;
}

/* Channel category*/
.clickable-2AoIYN:hover div,.clickable-2AoIYN:hover path{
	color:#191970;
}

.clickable-2AoIYN div{
	color: #2249c9;
}


:root, .theme-light, .theme-dark {
	--header-primary:#fff;
	--header-secondary:#b9bbbe;
	--text-normal:#dcddde;
	--background-primary: #12171d;
	--background-secondary: #10141a;
	--background-tertiary: #080b0f;
	--background-secondary-alt: #0c1014;	
	--mainColor: #2275c9;
	--midnight-blue: #191970;
	--channeltextarea-background: #0e1217;
	--channelName-active: #d1d1d1;
	--userProfileBorder: 3px;
	
	--muted-channel-icon: #12375c;
	--channel-icon: var(--mainColor);
	
	--input-background: var(--background-secondary);
	
	--background-nested-floating: var(--background-primary);
    --background-mobile-primary: var(--background-primary);
    --background-mobile-secondary:var(--background-secondary);
	
	--background-modifier-selected: #27378740;
	--background-modifier-active: #222c7d40;
	--background-modifier-hover: #19197040;
	
	--interactive-custom-normal: var(--mainColor);
	--interactive-custom-hover: #5da0e3;
	--interactive-custom-active: #9ccdff;
	
	/* Mention (1.bgcolor 2.side line color)*/
	--background-mentioned: var(--background-modifier-selected);
	--background-mentioned-hover: var(--background-modifier-hover);
	--info-warning-foreground: var(--mainColor);
	
	--text-muted: var(--mainColor);
	--background-floating: var(--background-secondary);
	--brand-experiment: var(--midnight-blue);
	--deprecated-card-bg: var(--background-secondary);
	--deprecated-card-editable-bg: var(--background-secondary);
	
	/* scrollbars */
	--scrollbar-thumb: var(--background-secondary-alt);
	--scrollbar-track: transparent;
	--scrollbar-thin-thumb: var(--scrollbar-thumb);
	/*--scrollbar-thin-track: transparent;*/
	--scrollbar-auto-thumb: var(--scrollbar-thumb);
	--scrollbar-auto-track: var(--scrollbar-track);
    --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-thumb);
    --scrollbar-auto-scrollbar-color-track: var(--scrollbar-track);
}
